.gridcontainer {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "map states-list";
}

.stateslist {
    max-width: 100%;
    padding: 10px;
    grid-area: states-list;
    overflow-y: scroll;
    width: 100%;
    margin-top: 7vh;
    height: 90vh;
}

.maskedOverflow {
    /* scroll bar width, for use in mask calculations */
    --scrollbar-width: 8px;

    /* mask fade distance, for use in mask calculations */
    --mask-height: 32px;

    /* Need to make sure container has top and bottom space,
  otherwise content at the bottom is always faded out */
    padding-top: var(--mask-height);
    padding-bottom: var(--mask-height);

    /* Keep some space between content and scrollbar */
    padding-right: 20px;

    /* The CSS mask */

    /* The content mask is a linear gradient from top to bottom */
    --mask-image-content: linear-gradient(
            to bottom,
            transparent,
            black var(--mask-height),
            black calc(100% - var(--mask-height)),
            transparent
    );

    /* Here we scale the content gradient to the width of the container
  minus the scrollbar width. The height is the full container height */
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

    /* The scrollbar mask is a black pixel */
    --mask-image-scrollbar: linear-gradient(black, black);

    /* The width of our black pixel is the width of the scrollbar.
  The height is the full container height */
    --mask-size-scrollbar: var(--scrollbar-width) 100%;

    /* Apply the mask image and mask size variables */
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

    /* Position the content gradient in the top left, and the
  scroll gradient in the top right */
    mask-position: 0 0, 100% 0;

    /* We don't repeat our mask images */
    mask-repeat: no-repeat, no-repeat;
}

/* Firefox */
.maskedOverflow {
    scrollbar-width: thin; /* can also be normal, or none, to not render scrollbar */
    scrollbar-color: lightgrey transparent; /* foreground background */
}

/* Webkit / Blink */
.maskedOverflow::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.maskedOverflow::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 9999px; /* always round */
}

.maskedOverflow::-webkit-scrollbar-track {
    background-color: transparent;
}
.map {
    grid-area: map;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

@media (max-width: 600px) {

    .gridcontainer {
        grid-template-columns: 1fr;
        grid-template-areas:
        "map"
        "states-list";
    }

    .stateslist {
        margin-top: 0vh;
    }
    .map {
        margin-top: 15vh;
    }
}


.form {
    width: 100%;
}

.formItem {
    display: block;
    width: 100%;
    margin: 10px auto;
}

.formItem label {
    display: block;
}

.formItem input[type='text'] {
    display: block;
    width: 100%;
    padding: 10px;
}

.formItem textarea {
    display: block;
    width: 100%;
    padding: 10px;
}

.error {
    color: red;
}

.message {
    color: green;
}