.statecard {
    text-align: center;
    padding: 5px;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #A9A9A9;
    border: 2px outset darkgrey;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.btnGroup {
    width:100%;
}

/*TODO find better font size solution*/
.voteButton {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
}

@media (max-width: 600px) {
    .voteButton {
        width: 45%;
        padding-top: 20%;
        padding-bottom: 20%;
    }
}

.votedrep {
    background-color: #d91f2e;
}

.voteddem {
    background-color:  #0044c9;
}
