.statecard {
    text-align: center;
    padding: 5px;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #A9A9A9;
}

.btnGroup {
    width:100%;
}

.voteButton {
    font-size: 30px;
}

@media (max-width: 600px) {
    .voteButton {
        width: 45%;
        padding-top: 20%;
        padding-bottom: 20%;
    }
}

.votedrep {
    background-color: #d91f2e;
}

.voteddem {
    background-color:  #0044c9;
}
